<div class="modal-header">
    <h3 class="modal-title">Insertar plantilla</h3>
</div>
<div class="modal-body">
    ¿Desea agregar la plantilla al final del documento o sobreescribirlo?
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" value="insert" checked="true" name="inserttype" ng-model="insertTemplate.type">
                Agregar al final
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" value="update"  name="inserttype" ng-model="insertTemplate.type">
                Sobreescribir
            </label>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
