      <header class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <a href="../" class="navbar-brand">OffiRad v 1.2.13</a>
          </div>
          <div class="nav navbar-nav navbar-right">
            {{userName}}<br>
            <a href="#/login">Cerrar sesión</a>
          </div>
          <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
              <li>
                <a href="#/turnos">Estudios</a>
              </li>
              <li>
                <a href="#/patients">Pacientes</a>
              </li>
              <li>
                <a href="#/templates">Plantillas</a>
              </li>
              <li>
                <a href="#/users">Usuarios</a>
              </li>
            </ul>
          </div>
        </div>
      </header>
