    <div main-menu=""></div>
    
      <ol class="breadcrumb">
        <li><a href="#/turnos">Inicio</a></li>
        <li><a href="#/turnos">Estudios</a></li>
        <li class="active">Estudio</li>
      </ol>

      <div class="study-table">
        <div class="study-table-row">
            <div class="study-table-col study-label">
                Estudio
            </div>
            <div class="study-table-col study-caption">
                Id.:
            </div>
            <div class="study-table-col study-data">
                {{study.IdStudy}}
            </div>
            <div class="study-table-col study-caption">
                Fecha:
            </div>
            <div class="study-table-col study-data">
                {{study.StudyDate}}
            </div>
        </div>
        <div class="study-table-row">
            <div class="study-table-col study-label">
                &nbsp;
            </div>
            <div class="study-table-col study-caption">
                Estado:
            </div>
            <div class="study-table-col" style="width: 500px;">
                <div class="btn-group" data-toggle="buttons">
                <label class='btn btn-default' ng-class='{active: option == study.Status}'
                    ng-repeat='option in study.Statuses' ng-click='activate(option)'>
                    <input type='radio' class='btn-group'  name='{{option.IdStatus}}'>{{option.Status}}
                </label>
                </div>
            </div>
        </div>
        <div class="study-table-row">
            <div class="study-table-col study-label">
                Paciente
            </div>
            <div class="study-table-col study-caption">
                Nombre:
            </div>
            <div class="study-table-col study-data">
                {{study.Patient_FirstName}}
            </div>
            <div class="study-table-col study-caption">
                Apellido:
            </div>
            <div class="study-table-col study-data">
                {{study.Patient_LastName}}
            </div>
            <div class="study-table-col study-caption">
                Sexo:
            </div>
            <div class="study-table-col study-data">
                {{study.Patient_Sex}}
            </div>
            <div class="study-table-col study-caption">
                Fecha Nac.:
            </div>
            <div class="study-table-col study-data">
                {{study.Patient_BirthDate}}
            </div>
        </div>
        <div class="study-table-row">
            <div class="study-table-col study-label">
                Prof. Efectúa
            </div>
            <div class="study-table-col study-caption">
                Nombre:
            </div>
            <div class="study-table-col study-data">
                {{study.Perform_FirstName}}
            </div>
            <div class="study-table-col study-caption">
                Apellido:
            </div>
            <div class="study-table-col study-data">
                {{study.Perform_LastName}}
            </div>
        </div>
        <div class="study-table-row">
            <div class="study-table-col study-label">
                Prof. Informa
            </div>
            <div class="study-table-col study-caption">
                Nombre:
            </div>
            <div class="study-table-col study-data">
                {{study.Report_FirstName}}
            </div>
            <div class="study-table-col study-caption">
                Apellido:
            </div>
            <div class="study-table-col study-data">
                {{study.Report_LastName}}
            </div>
        </div>
      </div>
      <div class="ck-editor" ng-model="study.Report"></div>
